# Environnements
venv/
venv311/
.venv/

# Données personnelles
Lucid_Docs/
chroma_data/
data/
backup_old/
rag_data/
logs/

# Fichiers sensibles
config.yaml
.env
short_term_memory.json
*.json

# Python
__pycache__/
*.pyc
*.pyo
*.db
*.sqlite

# Mac
.DS_Store
*.log
